{% extends "base.html" %}
{% block title %} SC2 Player Ranks {% endblock %}
{% block nav-home %} class="active" {% endblock %}
{% block content %}
<div class='col-sm-4 col-sm-offset-4'>
	<h1> LeaderBoard </h1>
</div>
<div class='col-sm-6 col-sm-offset-2'>
<table class='table table-striped table-bordered table-hover'>
	<thead>
		<tr>
		<td class='col-sm-1'> <strong>Rank</strong> </td>
		<td class='col-sm-3'> <strong>Player Name</strong> </td>
		<td class='col-sm-1'> <strong> Country </strong> </td>
		<td class='col-sm-1'> <strong>Skill Level</strong> </td>
	</tr>
	</thead>
	<tbody>
	{% for player, skill, index in zipped_list %}
	<tr>
		<td class='col-sm-1'><div> {{ index }} </div></td>
		<td class='col-sm-3'><div> <a href='{% url 'display_player' given_player=player.name %}'>{{ player }}</a> <img src='{{ STATIC_URL }}/images/{{ player.race }}.png' height= '15px' title='{{ player.race }}' /> </div></td>
		<td class='col-sm-1'> {{ player.country }} </td>
		<td class='col-sm-1'><div> {{ skill }} </div></td>
	</tr>
	{% endfor %}

</tbody>
</table>
<div class="alert alert-info"><em>*Skill Levels Have Been Rounded to Two Decimal Places for Displaying Purposes</em> 
<br>
 <em> Only Players with at Least 5 Matches Recorded are displayed </em></div>
</div>








{% endblock %}